.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 80%;
  background-color: #55959b;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects p{
  font-weight: 700;
}

.proj-area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.blog-area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 20vh;
  overflow: hidden;
  transition: transfrom 0.4s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  border-radius: 12px;
  display: block;
  width: 100%;
  height: 100%;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;

  background: linear-gradient(
    to top,
    rgba(255,255,255,0.5) 0%,
    rgba(255,255,255,0.2) 20%,
    rgba(255,255,255,0.0) 50%,
    rgba(255,255,255,0.0) 100%
  );
}

.card p{
  position: absolute;
  bottom: 0rem;
  left: 1rem;
  color: black;
  z-index: 1;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  width: 80%;
  margin: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

p.name {
  font-size: 2rem;
}

body {
  background-color: #f2cea8;
}

@keyframes in-from-left {
  0% {
  transform: translateX(-100%);
}
100% {
  transform: translateX(0%);
}

}
