body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh
  margin: 0;
  background-color: hsl(47, 88%, 63%);
}

.blog-card-component{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  padding: 0.8rem;
  width: 20rem;
  margin: 2rem auto;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
  align-items: center;
}

img {
  width: 18rem;
  border-radius: 12px;
}
